@tailwind base;
@tailwind components;
@tailwind utilities;

/* Overused Grotesk */
@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-SemiBold.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("../public/fonts/overused-grotesk/OverusedGrotesk-Light.ttf")
    format("truetype");
  font-weight: lighter;
  font-style: normal;
}

/* Satoshi */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi_Complete/TTF/Satoshi-Variable.ttf");
}
